
.benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits__items {
    width: 270px;
}

.benefits__container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.benefits__title {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}

.benefits__text {
    margin-top: 10px;
    color: var(--primary-text-color);
    line-height: 1.71;
}