.header-section {
  max-height: 80px;
  border-bottom: 1px solid #ececec;
}

.nav {
  align-items: center;
  display: flex;
}

.nav .logo {
  margin-right: 93px;
}

.nav__list {
  display: flex;
}

.nav__items {
  display: flex;
}

.nav__items:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  padding: 32px 0 32px 0;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.illumination {
  color: var(--accent-color);
}
.illumination:after {
  position: absolute;
  bottom: 0;
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.mobile-box__open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.contacts__item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover,
.contacts__item:focus {
  color: var(--accent-color);
}
.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
  fill: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .mobile-box__navigation {
    display: none;
  }
  .mobile-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mobile-box__open-icon {
    display: block;
  }
  .header-section .container {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-box__open-btn {
    display: none;
  }
  .mobile-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav .logo {
    margin-right: 87px;
  }
  .nav__list {
    margin-right: 83px;
  }
  .contacts__item {
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .contacts__item:last-child {
    margin-top: 8px;
  }
  .contacts__icon {
    margin-right: 8px;
  }
  .contacts {
    padding: 16px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts__items:not(:last-child) {
    margin-right: 50px;
  }
}
