.portfolio-list-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-items:not(:last-child) {
    margin-right: 8px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.portfolio-button {
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.illumination-btn {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button:active {
    background-color: #267bc6;
}

.portfolio-card {
    max-width: 370px;
    max-height: 404px;
}

.portfolio-screen-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 370px;
    max-height: 294px;
    overflow: hidden;
}

.portfolio-link {
    display: inline-block;
    // width: 100%;
    // height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translateY(0);
    height: 294px;
}

.portfolio-link:hover,
.portfolio-link:focus {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-container-title {
    padding: 20px 10px 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.portfolio-card-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-name-industry {
    margin-top: 4px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}