body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    display: block;
}
button {
    font-family: inherit;
    cursor: pointer;
}
address {
    font-style: normal;
}
